{% extends 'base.html' %}
    {% block body_content %}

        <h1>welcome to school_detail.html</h1>

        <div class="jumbotron">
            <h4>School details:</h4>
            <p> School Name : {{school_detail.name}} </p>
            <p> School's Principal Name : {{school_detail.principal}} </p>
            <p> School location : {{school_detail.location}} </p>

            <br>
            <br>
            <h2>Students : </h2>
            {% for student in school_detail.students.all %}
                <p>{{student.name}} who is {{student.age}} yrs old</p>
            {% endfor }

        </div>
    {% endblock %}